.img {
    display: flex;
    flex-direction: column;
    align-items: center;
  
}
.para {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.para-title {
    color: coral;
}